---

port: 10900
sender: me@example.com
receiver: who@example.com
report_bin: /opt/siswrap/deps/sisyphus/quickReport.pl
qc_bin: /opt/siswrap/deps/sisyphus/qcValidateRun.pl
version_bin: /opt/siswrap/deps/sisyphus/version.pl
qc_file: /srv/qc_config/sisyphus_qc.xml
runfolder_root: /data/testarteria1/mon1
perl: /usr/bin/perl
