---

port: 10700
sender: me@example.com
receiver: who@example.com
report_bin: /vagrant/deps/sisyphus/quickReport.pl
qc_bin: /vagrant/deps/sisyphus/qcValidateRun.pl
aeacus_stats: /vagrant/deps/sisyphus/aeacus-stats.pl
aeacus_reports: /vagrant/deps/sisyphus/aeacus-reports.pl
checkindices: /vagrant/deps/sisyphus/checkIndices.pl
version_bin: /vagrant/deps/sisyphus/version.pl
runfolder_root: /vagrant
perl: /usr/bin/perl

