---

port: 10700
sender: me@example.com
receiver: who@example.com
report_bin: /opt/arteria/arteria-siswrap-env/deps/sisyphus/quickReport.pl
qc_bin: /opt/arteria/arteria-siswrap-env/deps/sisyphus/qcValidateRun.pl
aeacus_stats: /opt/arteria/arteria-siswrap-env/deps/sisyphus/aeacus-stats.pl
aeacus_reports: /opt/arteria/arteria-siswrap-env/deps/sisyphus/aeacus-reports.pl
version_bin: /opt/arteria/arteria-siswrap-env/deps/sisyphus/version.pl
runfolder_root: /data/testarteria1/mon1
perl: /usr/bin/perl

