{
    "port": 10900,
    "py/object": "configuration.ConfigurationFile",
    "sender": "johan.hermansson@medsci.uu.se",
    "receiver": "johan.hermansson@gmail.com",
    "report_bin": "/opt/siswrap/deps/sisyphus/quickReport.pl",
    "qc_bin": "/opt/siswrap/deps/sisyphus/qcValidateRun.pl",
    "qc_file": "/srv/qc_config/sisyphus_qc.xml",
    "runfolder_root": "/data/testarteria1/mon1/",
    "perl": "/usr/bin/perl"
}
